*,a{
    padding: 0;
    margin: 0px;
}
#main-header{
    background-color: black;
    width: 100%;
}
#main-header >.container-0{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 24px;
}
#main-header >.container-0 >.container-1{
    display: flex;
}
#main-header > #dropdown-menu{
    display: none;
    list-style-type: none;
    background-color: black;
    position: absolute;
    
    width: 100% !important;
    height: auto;
}   
#dropdown-menu  *{
    text-decoration: none;
    color: whitesmoke;
}
#dropdown-menu  > .dropdown-menu-item{
    display: flex;
    flex-direction: column;
}
.active{
    display: block !important;
}
.header-dropdown-menu-item{
    display: block;
    width: 100%;
    text-align: left;
    margin:0px auto;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;

    font-size: 32px;
    line-height: 120%;
    font-weight: 500;
}
#header-sub-menu{
    display: none;
}
.header-sub-menu-item{
    display: flex;
    width: 100%;
    text-align: left;
    margin:0px auto;
    padding: 10px 20px;
    border-bottom: 1px solid whitesmoke;
    white-space: nowrap;
    gap:2px;

    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
}
.header-sub-menu-item >a{
    display: inline-block;
    white-space: wrap;
}
.header-contact-us-button{
    display: none;
}
#header-menu-container{
    display: none;
}

#header-brand-image{
    background-color: black;
    width: 132px;
    height: auto;
    
}
.header-menu-button{
    display: flex;
    align-items: center;
    gap:2px;
    background-color: black;
    color: whitesmoke;
    padding:8px 24px;
    border: 1px solid whitesmoke;

    line-height: 150%;
    font-weight: 500;
    font-size: 18px;
}
@media screen and (min-width:768px){
    #main-header >.container-0{
       max-width: 768px;
    }
    #dropdown-menu > div:last-child{
        display: none;
    }
    .header-menu-button{
        padding:8px 24px;
        line-height: 150%;
        font-weight: 500;
        font-size: 18px;
    }
    .header-contact-us-button{
        display: block;
        padding: 8px 24px;
        font-size: 18px;
        line-height: 150%;
        font-weight: 400;
        margin-left: 10px;
        white-space: nowrap;
    }

}
@media screen and (min-width:1200px){
    #main-header >.container-0{
        max-width: 1200px;
    }
    .header-menu-button{
        display: none;
    }
    #dropdown-menu{
        display: none !important;
    }
    #header-menu-container{
        display: flex;
        background-color: black;
    }
    .header-menu-item{
        display: block;
        color: whitesmoke;
        text-decoration: none;
        padding: 10px 20px;
        white-space: nowrap;

        line-height: 120%;
        font-weight: 500;
        font-size: 20px;
    }
    .header-main-menu-sub-container{
        position: relative;
        display: flex;
        align-items: center;
    }
    .header-main-menu-sub-container> .header-menu-item{
        padding-right: 5px;
    }
    svg[class*="header-main-menu-icon-"] {
        transform: rotate(0deg); 
        transition: transform 0.5s ease-in; 
    }
    
    svg[class*="header-main-menu-icon-"].active {
        transform: rotate(180deg); 
    }
    .header-main-subMenu{
        display: none;
    }
    svg[class*="header-main-menu-icon-"].active ~ .header-main-subMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:150%;
        background-color: black;
        width: 400px;
        border-radius: 15px;
    }
    .header-main-subMenu a {
        display: block;
        color: whitesmoke;
        text-decoration: none;
        padding: 10px 20px;

        font-size: 20px;
        line-height: 150%;
        font-weight: 500;
    }
    #header-menu-container > div:hover{
        background-color: #313131;
        border-radius: 15px;
    }
    .header-contact-us-button{
        display: block;
        padding: 8px 24px;
        font-size: 18px;
        line-height: 150%;
        font-weight: 400;
        margin-left: 10px;
        white-space: nowrap;
    }
    
}
